/*--------------------------------------------------
	[VARIAVEIS]
----------------------------------------------------*/


$font-textos: 'Lato',  sans-serif;
$font-size-conteudos: 14px;


$corBody: #efefef;
$corPrincipal: #003e61;
$corSecundaria: #f4f4f4;
$cinza: #bbb;

// teste cores
$corBackHeader: #8d4350;
$corLaranja: #ff564f;
$corFontDefault: #cbeaed;
$corFontOuro: #ceb094;
$corCinzaDefault: #e0d7d2;